In [2]:
import pandas as pd

In [3]:
df_del_oulier = pd.read_csv("brand_del_outlier.csv", index_col=0)
df_del_oulier

,brand,category,cost,year,debt_ratio,profit,fairness,growth,stability
0,이디야커피,커피,12913.0,21,88,4,3,3,3
1,비비큐,치킨,9078.0,28,58,3,3,4,3
2,비비큐(BBQ),치킨,25654.0,28,1500,2,2,3,5
3,비에이치씨(BHC),치킨,8543.0,19,205,5,3,4,4
4,배스킨라빈스,아이스크림/빙수,32335.0,37,24,4,3,3,2
...,...,...,...,...,...,...,...,...,...
5369,왕짱구,기타 외식,5705.0,18,3,5,3,3,2
5370,심민속촌,기타 외식,39510.0,8,102,3,3,2,3
5371,오늘게장,한식,3510.0,3,-3594,2,3,0,1
5372,모던타코,기타 외식,1969.0,7,299,3,3,0,4
5373,꽈르띠에,분식,3610.0,3,342,1,3,0,5

In [16]:
#세부 정보 크롤링 한 데이터 df_all_detail 와 전체데이터의 간단한 정보 df를 inner join한다.
#최종 1456개의 data의 세부정보 df가 완성된다
df_inner_join = pd.merge(df_all_detail, df_del_oulier, left_on="name", right_on="brand", how ="inner")
df_inner_join

,name,statff_cnt,cost_per_area,nums_of_franchisees,new_nums_of_franchisee,avr_sales,avr_sales_per_area,start_cost_list,brand,category,cost,year,debt_ratio,profit,fairness,growth,stability
0,이디야커피,424,209.0,2875,305,18704.0,657.0,12913.0,이디야커피,커피,12913.0,21,88,4,3,3,3
1,비비큐,233,203.0,1746,270,59456.0,4388.0,9078.0,비비큐,치킨,9078.0,28,58,3,3,4,3
2,비에이치씨(BHC),167,225.0,1619,231,52103.0,2851.0,8543.0,비에이치씨(BHC),치킨,8543.0,19,205,5,3,4,4
3,배스킨라빈스,1816,390.0,1466,85,57170.0,3060.0,32335.0,배스킨라빈스,아이스크림/빙수,32335.0,37,24,4,3,3,2
4,투다리,16,298.0,1434,145,11251.0,790.0,4533.0,투다리,주점,4533.0,35,126,5,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549,다코기,1,165.0,6,0,31174.0,1743.0,8132.0,다코기,치킨,8132.0,8,99,5,3,2,3
2550,밀크밥버거,65,220.0,6,0,2657.0,194.0,3630.0,밀크밥버거,분식,3630.0,17,1292,2,3,3,5
2551,전현주식당,2,220.0,6,6,44344.0,1239.0,8836.0,전현주식당,한식,8836.0,3,141,4,3,0,4
2552,육개장터,3,220.0,6,0,6168.0,394.0,5450.0,육개장터,한식,5450.0,6,-176,1,3,1,1
2553,막돼먹은막창,1,110.0,5,1,20967.0,776.0,4710.0,막돼먹은막창,한식,4710.0,16,5,5,3,0,2

In [17]:
df_inner_join=df_inner_join.drop(["brand", "cost"], axis=1)

In [18]:
df_inner_join=df_inner_join.rename(columns={"start_cost_list":"start_cost"})
df_inner_join

,name,statff_cnt,cost_per_area,nums_of_franchisees,new_nums_of_franchisee,avr_sales,avr_sales_per_area,start_cost,category,year,debt_ratio,profit,fairness,growth,stability
0,이디야커피,424,209.0,2875,305,18704.0,657.0,12913.0,커피,21,88,4,3,3,3
1,비비큐,233,203.0,1746,270,59456.0,4388.0,9078.0,치킨,28,58,3,3,4,3
2,비에이치씨(BHC),167,225.0,1619,231,52103.0,2851.0,8543.0,치킨,19,205,5,3,4,4
3,배스킨라빈스,1816,390.0,1466,85,57170.0,3060.0,32335.0,아이스크림/빙수,37,24,4,3,3,2
4,투다리,16,298.0,1434,145,11251.0,790.0,4533.0,주점,35,126,5,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549,다코기,1,165.0,6,0,31174.0,1743.0,8132.0,치킨,8,99,5,3,2,3
2550,밀크밥버거,65,220.0,6,0,2657.0,194.0,3630.0,분식,17,1292,2,3,3,5
2551,전현주식당,2,220.0,6,6,44344.0,1239.0,8836.0,한식,3,141,4,3,0,4
2552,육개장터,3,220.0,6,0,6168.0,394.0,5450.0,한식,6,-176,1,3,1,1
2553,막돼먹은막창,1,110.0,5,1,20967.0,776.0,4710.0,한식,16,5,5,3,0,2

In [8]:
df=df.drop_duplicates(['name'])
df

,name,statff_cnt,cost_per_area,nums_of_franchisees,new_nums_of_franchisee,avr_sales,avr_sales_per_area,start_cost,category,year,debt_ratio,profit,fairness,growth,stability
0,이디야커피,424,209.0,2875,305,18704.0,657.0,12913.0,커피,21,88,4,3,3,3
1,비비큐,233,203.0,1746,270,59456.0,4388.0,9078.0,치킨,28,58,3,3,4,3
2,비에이치씨(BHC),167,225.0,1619,231,52103.0,2851.0,8543.0,치킨,19,205,5,3,4,4
3,배스킨라빈스,1816,390.0,1466,85,57170.0,3060.0,32335.0,아이스크림/빙수,37,24,4,3,3,2
4,투다리,16,298.0,1434,145,11251.0,790.0,4533.0,주점,35,126,5,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549,다코기,1,165.0,6,0,31174.0,1743.0,8132.0,치킨,8,99,5,3,2,3
2550,밀크밥버거,65,220.0,6,0,2657.0,194.0,3630.0,분식,17,1292,2,3,3,5
2551,전현주식당,2,220.0,6,6,44344.0,1239.0,8836.0,한식,3,141,4,3,0,4
2552,육개장터,3,220.0,6,0,6168.0,394.0,5450.0,한식,6,-176,1,3,1,1
2553,막돼먹은막창,1,110.0,5,1,20967.0,776.0,4710.0,한식,16,5,5,3,0,2

In [ ]:

df.to_csv("df_inner_join.csv")